main{
    padding: 57px 27px;
    color: black;
    /* background-image: url('../../Assets/Images/bglogo.jpg'); */
    background-repeat: no-repeat; 
     background-position-x: left ;
     background-position-y: 20% ;
    background-size:cover;
    background-color: white;
    box-shadow: 1px 1px 0px 0px grey;
    
}
main.dark{
    background-color: black;
    color: white;
    
}
.main-title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main-list {
    margin-top: 46px;
    max-width: 400px;
}

.main-list > li {
    line-height: 19px;
    padding-block: 10px;
}
.main-list > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
